.App {
  text-align: center;
  background-color: #f7fafc;
  color: #00426e;
  font-family: 'Trebuchet MS';
}

h3 {
  font-weight: bolder;
}

.App-header {
  min-height: 10vh;
  align-items: center;
  padding: 2em 1em 0;
  font-size: calc(15px + 2vmin);
}

.game-container {
  min-height: 80vh;
  padding: 0 1em 2em;
}

.clubs-container {
  padding: 0 1em;
}

.nameResults-container{
  border: .2em solid;
  box-shadow: 10px 11px 0px #2171a7;
  margin: 1.5em;
}

button {
  background-color: transparent;
  border: 2px solid #00426e;
  border-radius: 2px;
  color: #00426e;
  cursor: pointer;
  font: 700 14px/21px sans-serif;
  padding: 12px 24px;
  text-transform: uppercase;
  transition: ease all .3s;
}

button:hover {
  box-shadow: 0 2px 2px #bfd6e6;
  transform: translateY(-1px);
}



